# **Credit data exploration and analysis with SQL**

## The data: 

The data represents bank customer information and has the following columns:

* age = customer age
* gender = customer's gender (F or M)
* dependents = number of dependents of the client
* schooling = customer's schooling level
* annual_salary = customer's salary range
* type_card = customer card type
* qty_products = quantity of products purchased in the last 12 months
* iterations_12m = number of iterations/transactions in the last 12 months
* months_inactive_12m = number of months the customer has been inactive
* limit_credito = customer credit limit
* value_transactions_12m = value of transactions for the last 12 months
* qty_transactions_12m = number of transactions in the last 12 months

The table was created in **AWS Athena** along with **S3 Bucket** with a version of the data available at: https://github.com/andre-marcos-perez/ebac-course-utils/tree/main/dataset


## **Data exploration:**

The first phase of the analysis is to understand what is in our raw material. Let's explore the data:

**How much information do we have in our database?**

Query: SELECT count(*) FROM credit
> Answer: 2564 lines

**ps.:** The database in the link above contains more rows than the selection used. You can use all rows or consider just a fraction of the data. In practice, the greater the amount of data used, the more reliable the analysis! But there are computational and financial limits at which data reduction for analysis for study purposes becomes interesting.

**How is the data**

Query: SELECT * FROM credit LIMIT 10;
![ten_first_lines_dataset](https://github.com/rodrigolcschulz/SQL/blob/main/img/10firstlines.png?raw=true)

> You may notice that there is some null information in the table (na value), let's take a closer look at the values for each column! 

**What are the types of each data**

**Query:** DESCRIBE credit

![Describe_data](https://github.com/rodrigolcschulz/SQL/blob/main/img/describe.png?raw=true)


Now that we understand what data types are, let's take a closer look at non-numeric variables.

**What are the types of education available in the dataset?**

**Query:** SELECT DISTINCT education FROM credit

![type_of_schooling](https://github.com/rodrigolcschulz/SQL/blob/main/img/schooling.png?raw=true)

> The data has several levels of education and it is possible to notice that we have null values (na) in the dataset, we will deal with this later!

Do we have more null values?

**What types of marital_status are available in the dataset?**

**Query:** SELECT DISTINCT estado_civil  FROM credito

![marital_status](https://github.com/rodrigolcschulz/SQL/blob/main/img/marital_status.png?raw=true)

> Again we found null values in the marital status data!

**What types of annual_salary are available in the dataset?**

**Query:** SELECT DISTINCT salario_anual  FROM credito

![annual_salary](https://github.com/rodrigolcschulz/SQL/blob/main/img/annual_salary.png?raw=true)

> Salaries in this dataset are not displayed with the exact amount that the customer earns. What is informed is the salary range of each one. It also contains null data.


**Which card types are available in the dataset?**

**Query:** SELECT DISTINCT card_type FROM credit

![card_type](https://github.com/rodrigolcschulz/SQL/blob/main/img/cardtype.png?raw=true)

> Here we see that there is no need to handle null values.

## **Data analysis**

Once we explore the data and seek to understand what information we have in our database, we can analyze the information to seek to understand what is happening in the database. Let's ask questions:
/
**In this database, how many clients do we have in each salary range?**

**Query:** select count(*), annual_salary from credit group by annual_salary

![count_annual_salary](https://github.com/rodrigolcschulz/SQL/blob/main/img/annual_salary_count.png?raw=true)

> the majority of customers in this database have an income of less than 40K and there are 235 customers who did not inform or the salary range is not included.
> In a way, it might be interesting for the company to focus on this lower-income audience.

**In this database, how many customers are men and how many are women?**

**Query:** select count(*), sex from credit group by sex


![count_sex](https://github.com/rodrigolcschulz/SQL/blob/main/img/sex.png?raw=true)

![graphic_sex](https://github.com/rodrigolcschulz/SQL/blob/main/img/graphic_sex.png?raw=true)

> Most of this bank's customers are men! From the csv extracted from the data, it is possible to generate a pie chart with the male/female ratio to improve

**We want to target our marketing appropriately to our customers, how old will they be?**

**Query:** select avg(age) as average_age, min(age) as min_age, max(age) as max_age, gender from credit group by gender

![avg_age_sex](https://github.com/rodrigolcschulz/SQL/blob/main/img/age_sex.png?raw=true)

> Through this analysis it was not possible to extract any relevant information. The youngest age of the two sexes is the same and the average is very similar. The only difference is the maximum age but this fact is almost irrelevant because the difference is not so striking.


**What is the biggest and smallest customer transaction?**

**Query:** select min(transaction_value_12m) as transaction_minimum, max(transaction_value_12m) as transaction_minimum from credit
![value transactions](https://github.com/rodrigolcschulz/SQL/blob/main/img/transaction_min_max.png?raw=true)

> In this database we have a sum of transactions in 12 months ranging from 510.16 to 5776.58

**What are the characteristics of customers with the highest credits?**

**Query:**
select max(credit_limit) as credit_limit, schooling, card_type, sex
from credit
where schooling != 'na' and type_card != 'na'
group by education, type_card, sex
order by limit_credit desc
limit 10

![value_limit](https://github.com/rodrigolcschulz/SQL/blob/main/img/max_min_credit_schooling.png?raw=true)

> There does not seem to be an impact of schooling on the limit. The highest limit is offered for a man with no formal education. The card also seems to be unrelated to schooling or the limit. Among the highest limits, we find customers with a card: gold, silver, platinum and blue

**What are the characteristics of customers who have the lowest credits?**

**Query:**
select min(credit_limit) as credit_limit, schooling, card_type, sex
from credit
where schooling != 'na' and type_card != 'na'
group by education, type_card, sex
order by limit_credit asc


![Value limit](https://github.com/rodrigolcschulz/SQL/blob/main/img/min_limit_cred.png?raw=true)

> This time we noticed that there are no customers with a platinum card among the lowest limits. It was also possible to notice that most of the lower limits are women while in the higher limits predominate men.

**Do women spend more?**

**Query:**
select max(value_transactions_12m) as greatest_value_spent, avg(value_transactions_12m) as average_value_spent, min(value_transactions_12m) as min_value_spent, sex
from credit
group by sex


![transaction_sex](https://github.com/rodrigolcschulz/SQL/blob/main/img/women_transaction.png?raw=true)

> Despite the difference in thresholds, men's and women's spending is similar!

**Does the salary impact the limit?**

**Query:** select avg(qty_products) as qty_products, avg(transaction_value_12m) as average_transaction_value, avg(credit_limit) as average_limit, sex, annual_salary from credit
where annual_salary != 'na'
group by gender, annual_salary
order by avg(transaction_value_12m) desc

![Valor salario_anualLimite](https://github.com/rodrigolcschulz/SQL/blob/main/img/credit_limit_annual_salary.png?raw=true)

>YES! People who have a lower salary range also have a lower credit limit!

Finally,

**Does the schooling impact the limit?**

**Query:** select avg(credit_limit), schooling from credit group by schooling

![credit_limit_schooling](https://github.com/rodrigolcschulz/SQL/blob/main/img/credit_limit_schooling.png?raw=true)

>We do not have a very expressive variation by schooling.

![credit_limit_schooling_graphic](https://github.com/rodrigolcschulz/SQL/blob/main/img/graphic_schooling.png?raw=true)

# Conclusion

These were **some** analyzes extracted from the credit dataset.

Some interesting insights:

- most customers have income up to 40K
- most customers are male!
- schooling does not seem to influence the limit or the type of card
- customers with higher limits are mostly men
- customers with lower limits are mostly women
- among the lowest limits there is no presence of a platinum card
- the salary range directly impacts the credit limit
- there are no female customers with an annual salary above 60K
- people in doctoral and undergraduate courses have higher credit limits